<!DOCTYPE html>
<html>
<head>
  <title>Item</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/nav') %> <!-- Include the nav.ejs partial -->

  <div class="recentlyflipped">
    <h1>Recently Flipped Items:</h1>
    <% items.forEach((item) => { %>
      <div class="item">
        <h2><%= item.item_name %></h2>
        <p><strong>Current Price:</strong> <%= item.item_price %></p>
        <p><strong>Amount Sold:</strong> <%= sales.find((sale) => sale.item_id === item.item_id).amt_sold %></p>
        <p><strong>Sold For:</strong> <%= sales.find((sale) => sale.item_id === item.item_id).total_price %></p>
      </div>
    <% }); %>
  </div>

  <%- include('partials/foot') %> <!-- Include the foot.ejs partial -->
</body>
</html>